@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Reem+Kufi+Fun&family=Ubuntu&display=swap') ;

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');


*{
  margin:0;
  padding:0;
}
body, html{width:100%;
          height:100%;
          background:#121212;
           }
ul{
 
  list-style:none;
}
li{
margin:1.4vh;
  
}
a{text-decoration:none; }
#logo{
  width:11vw;
  height:5.2vh;
  border-radius:50%;
  margin:3vw;
  
}
.header{
  display:flex;
  
  font-size:7.3vw;
  
}
.navbar{
  justify-content:center;
position:fixed;
width:100vw;
  bottom:0.3vw;
  color:#000000;
  background-color: #cfcfcf;
border-radius:3vw;

opacity:0.78;
  
  font-size: 6.6vw;
  font-family: 'Ubuntu', sans-serif;
  z-index:2;
mouse:pointer;
}

#menu{
  width:12vw;


position:absolute;
  right:6vw;
  top:2vh;
  color:red;
}

.content{
font-family: 'Ubuntu', sans-serif;
}
.content h1{color:white;
         top:30vh; 
            left:4vw; 
        font-size:6vw;
  position:absolute;        }
.content p::after{
  content:"";
animation:changetxt 9s infinite;
  color:#c40000;
  margin-top:15vw;

}

@keyframes changetxt {
0%{  
  
  content:"                 Divyanshrwt !"; font-size:9vw;}
25%{
content:"      Web developer !"; font-size:6.5vw;
}
  50% {content:' Footballer ! '; font-size:7.3vw;}
  75% {content:" Youtuber !"; font-size:7vw;}
100%{font-size:9vw;
  content:" Freelancer !";}
}
.content{display:flex;}
.content p{
  font-size:8vw;
 left:7vw;
  position:absolute;
color:white;
  font-family: 'Ubuntu', sans-serif;
  top:35vh;
  }
.UPCONTENT{background-size:cover;
        height:60vh; background-repeat:no-repeat;
          
           
          background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS9AO4BJqJa9lG35eqEZfiDJWocHsMFaeIuQ&usqp=CAU');} 
.maincontent{
  height:50vh;
  background:#121212;
}
.br{
  width:40vw;
  height:1vw;
  background:white;  margin:0 auto;
  border-radius:6vw;
  animation:flowing 4s infinite;
  
}
@keyframes flowing{
 0%{
   position:absolute;
 left:2vw;
   background:red;
 }
  20%{
    position:absolute;
    left:30vw;
 background:white;
  }
  
  40%{
    position:absolute;
    left:60vw;
    background:#3d3dff;
  }
  80%{
    position:absolute;
   display:none;
    
  }100%{
    position:absolute;
    left:-40vw;background:#ff3b3b;
  }
  
}
.background{
  background:#121212;
}
.position{
  position:absolute;
top:200vh;
}
.img{
  margin-top:5vh;
  margin-left:5vh;
  animation:imageslider 9s infinite;
  border-radius:2vh;
}
@keyframes imageslider{
  0%{
    border-radius:2vh;background:url('https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    background-repeat:no-repeat;
    background-size:contain;
    margin:2.5vh;
  height:50vh;
  
width:80vw;}
  50%{background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSJULcSrrMioN1xVJwOlLe8imx17yojwjvrw&usqp=CAU');
    background-repeat:no-repeat;border-radius:2vh;
    background-size:contain;
    height:40vh;
  
width:70vw;
  }
  100%{background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQBqb8FdnFvJPbUoEjX79CH0bn4zSYCSFeow&usqp=CAU');border-radius:2vh;
    background-repeat:no-repeat;
       
    background-size:contain;height:40vh;
  
width:70vw;
  }
}
.footer{
  position:relative;
  bottom:-270vh;
  color:white;
  width:100vw;
  margin:1vw auto;
  background:#e83f3f;
  
    font-family: 'Noto Sans Mono', monospace;
border-radius:2vw;
padding:2vw 4vw;
  height:12vh;}
.footer p+div{
  display:grid;
  grid-template-rows:3vh 3vh;
  margin-top:1vw;
  grid-template-columns:30vw 30vw;font-family: 'Ubuntu', sans-serif;
  position:absolute;  
  
}

.footer div+img{
  width:7vw;
  height:4vh;
  position:absolute;
  right:34vw;
  filter: grayscale(100%);
}
.iconimg{
filter: grayscale(100%);
  width:5.9vw;
  height:2.6vh;
  position:absolute;
  right:23vw;
bottom:8.9vw;
}
.iconfbimg{
  filter: grayscale(100%);
  width:6vw;
  height:3vh;
  position:absolute;
  right:12vw;
bottom:8.9vw;
}.iconinimg{
  width:6vw;
  height:3vh;
  position:absolute;
  right:2vw;
bottom:8.9vw;filter: grayscale(100%);
  border-radius:2vw;
  }
.myimg{
  background:url('myimg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.navbar{
animation:menu 1s linear;
}
@keyframes menu{
  0%{
    height:0vh;
  }
  20%{
    height:4vh;
    
  }
  40%{
    height:8vh;
  }
  60%{
    height:12vh;
  }
  80%{
    height:16vh;
  }
  100%{
    height:20vh;
  }
}
.navbar a:hover{
  color:red;
  cursor:pointer;
border-radius:3vw;
};
